In [8]:
import pandas as pd

In [125]:
frpm = pd.read_excel('../../../data/raw/school_level/frpm2122.xlsx',sheet_name=1,header=1)
frpm.rename(columns = {'Educational \nOption Type':'Education_type',
                       'NSLP \nProvision \nStatus':'NSLP_Provision_Status',
                      'Enrollment \n(K-12)':"Enrollment",
                       'Charter \nSchool \n(Y/N)':'Charter_School',
                       'Charter \nFunding \nType':'Charter_funding_type',
                      'Free Meal \nCount \n(K-12)':'Free_Meal_count',
                       'Percent (%) \nEligible Free \n(K-12)':'Percent_Eligible',
                       'FRPM Count \n(K-12)':'FRPM_Count',
                       'Percent (%) \nEligible FRPM \n(K-12)':'Percent_Eligible_FRPM',
                       'Enrollment \n(Ages 5-17)':'Enrollment',
                       'Free Meal \nCount \n(Ages 5-17)':'Free_Meal_Count',
                        'Percent (%) \nEligible Free \n(Ages 5-17)':'Percent_Eligible_Free',
                      'FRPM Count \n(Ages 5-17)':'FRPM_Count',
                       'Percent (%) \nEligible FRPM \n(Ages 5-17)':'Percent_Eligible_FRPM',
                       'CALPADS Fall 1 \nCertification Status':'CALPADS_Fall_Cert_Status',
                      'School Code':'FRPM School Code'},inplace=True)
frpm['School Name'] = frpm['School Name'].str.lower()

frpm.head()

,Academic Year,County Code,District Code,FRPM School Code,County Name,District Name,School Name,District Type,School Type,Education_type,...,Free_Meal_count,Percent_Eligible,FRPM_Count,Percent_Eligible_FRPM,Enrollment,Free_Meal_Count,Percent_Eligible_Free,FRPM_Count,Percent_Eligible_FRPM,CALPADS_Fall_Cert_Status
0,2021-2022,1,10017,130419,Alameda,Alameda County Office of Education,alameda county community,County Office of Education (COE),County Community,County Community School,...,45,0.789474,47,0.824561,37,29,0.783784,31,0.837838,Y
1,2021-2022,1,10017,130401,Alameda,Alameda County Office of Education,alameda county juvenile hall/court,County Office of Education (COE),Juvenile Court Schools,Juvenile Court School,...,64,1.000000,64,1.000000,56,56,1.000000,56,1.000000,Y
2,2021-2022,1,10017,130625,Alameda,Alameda County Office of Education,alternatives in action,County Office of Education (COE),High Schools (Public),Traditional,...,113,0.753333,134,0.893333,129,95,0.736434,116,0.899225,Y
3,2021-2022,1,10017,137448,Alameda,Alameda County Office of Education,aurum preparatory academy,County Office of Education (COE),Junior High Schools (Public),Traditional,...,135,0.823171,148,0.902439,164,135,0.823171,148,0.902439,Y
4,2021-2022,1,10017,123968,Alameda,Alameda County Office of Education,community school for creative education,County Office of Education (COE),Elementary Schools (Public),Traditional,...,162,0.801980,177,0.876238,202,162,0.801980,177,0.876238,Y

In [126]:
frpm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10558 entries, 0 to 10557
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Academic Year             10558 non-null  object
 1   County Code               10558 non-null  int64
 2   District Code             10558 non-null  int64
 3   FRPM School Code          10558 non-null  int64
 4   County Name               10558 non-null  object
 5   District Name             10558 non-null  object
 6   School Name               10558 non-null  object
 7   District Type             10558 non-null  object
 8   School Type               9992 non-null   object
 9   Education_type            9994 non-null   object
 10  NSLP_Provision_Status     4464 non-null   object
 11  Charter_School            9996 non-null   object
 12  Charter
School
Number   1291 non-null   object
 13  Charter_funding_type      1291 non-null   object
 14  IRC                       9996 non-null   object
 15  Low Grade                 10135 non-null  object
 16  High Grade                10135 non-null  object
 17  Enrollment                10558 non-null  int64
 18  Free_Meal_count           10558 non-null  int64
 19  Percent_Eligible          10558 non-null  float64
 20  FRPM_Count                10558 non-null  int64
 21  Percent_Eligible_FRPM     10558 non-null  float64
 22  Enrollment                10558 non-null  int64
 23  Free_Meal_Count           10558 non-null  int64
 24  Percent_Eligible_Free     10558 non-null  float64
 25  FRPM_Count                10558 non-null  int64
 26  Percent_Eligible_FRPM     10558 non-null  float64
 27  CALPADS_Fall_Cert_Status  10558 non-null  object
dtypes: float64(4), int64(9), object(15)
memory usage: 2.3+ MB

In [128]:
frpm['School Name'] = frpm['School Name'].str.lower()

In [130]:
frpm[['District Name','School Name']].nunique()

District Name    1012
School Name      8740
dtype: int64

In [131]:
frpm[frpm.duplicated(subset=['School Name','District Name','County Name'])]

Empty DataFrame
Columns: [Academic Year, County Code, District Code, FRPM School Code, County Name, District Name, School Name, District Type, School Type, Education_type, NSLP_Provision_Status, Charter_School, Charter
School
Number, Charter_funding_type, IRC, Low Grade, High Grade, Enrollment, Free_Meal_count, Percent_Eligible, FRPM_Count, Percent_Eligible_FRPM, Enrollment, Free_Meal_Count, Percent_Eligible_Free, FRPM_Count, Percent_Eligible_FRPM, CALPADS_Fall_Cert_Status]
Index: []

[0 rows x 28 columns]

In [132]:
frpm[frpm.duplicated(subset=['School Name','District Name'])]

,Academic Year,County Code,District Code,FRPM School Code,County Name,District Name,School Name,District Type,School Type,Education_type,...,Free_Meal_count,Percent_Eligible,FRPM_Count,Percent_Eligible_FRPM,Enrollment,Free_Meal_Count,Percent_Eligible_Free,FRPM_Count,Percent_Eligible_FRPM,CALPADS_Fall_Cert_Status
1354,2021-2022,12,62976,6008098,Humboldt,Pacific Union Elementary,pacific union elementary,Elementary School District,Elementary Schools (Public),Traditional,...,238,0.452471,254,0.482890,518,236,0.455598,252,0.486486,Y
1816,2021-2022,16,63990,6010557,Kings,Pioneer Union Elementary,pioneer elementary,Elementary School District,Elementary Schools (Public),Traditional,...,204,0.400000,225,0.441176,499,202,0.404810,222,0.444890,Y
9355,2021-2022,47,70367,6050819,Siskiyou,Junction Elementary,junction elementary,Elementary School District,Elemen Schools In 1 School Dist. (Public),Traditional,...,6,0.375000,6,0.375000,15,5,0.333333,5,0.333333,Y
10034,2021-2022,54,71944,6054092,Tulare,Hope Elementary,hope elementary,Elementary School District,Elemen Schools In 1 School Dist. (Public),Traditional,...,148,0.637931,167,0.719828,231,148,0.640693,167,0.722944,Y
10037,2021-2022,54,71985,6054134,Tulare,Liberty Elementary,liberty elementary,Elementary School District,Elemen Schools In 1 School Dist. (Public),Traditional,...,309,0.412550,390,0.520694,739,307,0.415426,387,0.523681,Y
10474,2021-2022,57,72694,1,Yolo,Washington Unified,"nonpublic, nonsectarian schools",Unified School District,NaN,NaN,...,5,0.357143,6,0.428571,11,5,0.454545,6,0.545455,Y

In [133]:
frpm['School Name'].isnull().sum()

0

In [22]:
len(frpm[frpm.duplicated(subset=['School Code'])])

564

In [67]:
sld.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School Name [Public School] 2020-21',
       'School ID - NCES Assigned [Public School] Latest available year',
       'District Name', 'School Code', 'County Name',
       'County Number [Public School] 2020-21',
       'State Name [Public School] 2020-21',
       'School Type [Public School] 2020-21',
       'Title I School Status [Public School] 2020-21',
       'Latitude [Public School] 2020-21', 'Longitude [Public School] 2020-21',
       'Highest Grade Offered [Public School] 2020-21',
       'Lowest Grade Offered [Public School] 2020-21',
       'Total Students, All Grades (Excludes AE) [Public School] 2020-21',
       'Total Students, All Grades (Includes AE) [Public School] 2020-21',
       'Grades 1-8 Students [Public School] 2020-21',
       'Grades 9-12 Students [Public School] 2020-21',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2020-21',
       'Pupil/Teacher Ratio [Public School] 2020-21',
       'Hispanic - male [Public School] 2020-21',
       'Hispanic - female [Public School] 2020-21',
       'Black or African American - male [Public School] 2020-21',
       'Black or African American - female [Public School] 2020-21',
       'Asian or Asian/Pacific Islander - male [Public School] 2020-21',
       'Asian or Asian/Pacific Islander - female [Public School] 2020-21',
       'National School Lunch Program [Public School] 2020-21'],
      dtype='object')

In [107]:
sld = pd.read_excel('../../../data/raw/school_level/school_level_student_data.xls',header=6)

sld.rename(columns={
                    'Agency ID - NCES Assigned [Public School] Latest available year':'School Code',
                   'Agency Name [Public School] 2020-21':'District Name',
                    'County Name [Public School] 2020-21':'County Name',
                    
                   },inplace=True)

sld.head()

,School Name,State Name [Public School] Latest available year,School Name [Public School] 2020-21,School ID - NCES Assigned [Public School] Latest available year,District Name,School Code,County Name,County Number [Public School] 2020-21,State Name [Public School] 2020-21,School Type [Public School] 2020-21,...,Grades 9-12 Students [Public School] 2020-21,Full-Time Equivalent (FTE) Teachers [Public School] 2020-21,Pupil/Teacher Ratio [Public School] 2020-21,Hispanic - male [Public School] 2020-21,Hispanic - female [Public School] 2020-21,Black or African American - male [Public School] 2020-21,Black or African American - female [Public School] 2020-21,Asian or Asian/Pacific Islander - male [Public School] 2020-21,Asian or Asian/Pacific Islander - female [Public School] 2020-21,National School Lunch Program [Public School] 2020-21
0,138TH STREET,CALIFORNIA,138th Street,6.014281e+10,Wiseburn Unified,601428.0,Los Angeles County,6037.0,CALIFORNIA,1-Regular school,...,†,15.4,28.83,124,131,17,18,13,13,–
1,21ST CENTURY LEARNING INSTITUTE,CALIFORNIA,21st Century Learning Institute,6.042901e+10,Beaumont Unified,604290.0,Riverside County,6065.0,CALIFORNIA,4-Alternative/other school,...,130,7.33,39.97,62,66,9,10,6,8,–
2,A PLACE TO GROW,California,A Place to Grow,6.282701e+10,Ojai Unified,628270.0,Ventura County,6111.0,CALIFORNIA,1-Regular school,...,†,–,–,†,†,†,†,†,†,–
3,A. E. ARNOLD ELEMENTARY,California,A. E. Arnold Elementary,6.104400e+10,Cypress Elementary,610440.0,Orange County,6059.0,CALIFORNIA,1-Regular school,...,†,21.92,26.73,72,116,15,14,90,121,–
4,A. G. COOK ELEMENTARY,California,A. G. Cook Elementary,6.148800e+10,Garden Grove Unified,614880.0,Orange County,6059.0,CALIFORNIA,1-Regular school,...,†,15.34,24.19,31,49,–,–,119,146,–

In [108]:
sld['County Name'] = sld['County Name'].str.replace(' County','')
sld['County Name'] = sld['County Name'].str.rstrip()
sld['County Name'][:3]

0    Los Angeles
1      Riverside
2        Ventura
Name: County Name, dtype: object

In [109]:
sld['School Code'].isnull().sum()

7

In [113]:
sld.dropna(subset=['School Code'],inplace=True)

In [116]:
sld.drop(columns=['School Name [Public School] 2020-21','School ID - NCES Assigned [Public School] Latest available year',
                'State Name [Public School] 2020-21'],inplace=True)

In [115]:

sld['School Code'] = sld['School Code'].apply(pd.to_numeric,errors='coerce')

sld['School Code']= sld['School Code'].astype('int')

sld['School Name'] = sld['School Name'].str.lower()

sld['Distrtict Name'] = sld['District Name'].str.lower()


sld.head()

,School Name,State Name [Public School] Latest available year,School Name [Public School] 2020-21,School ID - NCES Assigned [Public School] Latest available year,District Name,School Code,County Name,County Number [Public School] 2020-21,State Name [Public School] 2020-21,School Type [Public School] 2020-21,...,Full-Time Equivalent (FTE) Teachers [Public School] 2020-21,Pupil/Teacher Ratio [Public School] 2020-21,Hispanic - male [Public School] 2020-21,Hispanic - female [Public School] 2020-21,Black or African American - male [Public School] 2020-21,Black or African American - female [Public School] 2020-21,Asian or Asian/Pacific Islander - male [Public School] 2020-21,Asian or Asian/Pacific Islander - female [Public School] 2020-21,National School Lunch Program [Public School] 2020-21,Distrtict Name
0,138th street,CALIFORNIA,138th Street,6.014281e+10,Wiseburn Unified,601428,Los Angeles,6037.0,CALIFORNIA,1-Regular school,...,15.4,28.83,124,131,17,18,13,13,–,wiseburn unified
1,21st century learning institute,CALIFORNIA,21st Century Learning Institute,6.042901e+10,Beaumont Unified,604290,Riverside,6065.0,CALIFORNIA,4-Alternative/other school,...,7.33,39.97,62,66,9,10,6,8,–,beaumont unified
2,a place to grow,California,A Place to Grow,6.282701e+10,Ojai Unified,628270,Ventura,6111.0,CALIFORNIA,1-Regular school,...,–,–,†,†,†,†,†,†,–,ojai unified
3,a. e. arnold elementary,California,A. E. Arnold Elementary,6.104400e+10,Cypress Elementary,610440,Orange,6059.0,CALIFORNIA,1-Regular school,...,21.92,26.73,72,116,15,14,90,121,–,cypress elementary
4,a. g. cook elementary,California,A. G. Cook Elementary,6.148800e+10,Garden Grove Unified,614880,Orange,6059.0,CALIFORNIA,1-Regular school,...,15.34,24.19,31,49,–,–,119,146,–,garden grove unified

In [117]:
sld.rename(columns={'School Code':'SLD_School Code'},inplace=True)
sld.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'District Name', 'SLD_School Code', 'County Name',
       'County Number [Public School] 2020-21',
       'School Type [Public School] 2020-21',
       'Title I School Status [Public School] 2020-21',
       'Latitude [Public School] 2020-21', 'Longitude [Public School] 2020-21',
       'Highest Grade Offered [Public School] 2020-21',
       'Lowest Grade Offered [Public School] 2020-21',
       'Total Students, All Grades (Excludes AE) [Public School] 2020-21',
       'Total Students, All Grades (Includes AE) [Public School] 2020-21',
       'Grades 1-8 Students [Public School] 2020-21',
       'Grades 9-12 Students [Public School] 2020-21',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2020-21',
       'Pupil/Teacher Ratio [Public School] 2020-21',
       'Hispanic - male [Public School] 2020-21',
       'Hispanic - female [Public School] 2020-21',
       'Black or African American - male [Public School] 2020-21',
       'Black or African American - female [Public School] 2020-21',
       'Asian or Asian/Pacific Islander - male [Public School] 2020-21',
       'Asian or Asian/Pacific Islander - female [Public School] 2020-21',
       'National School Lunch Program [Public School] 2020-21',
       'Distrtict Name'],
      dtype='object')

In [118]:
frpm[frpm['School Name'].str.startswith('alameda county')]

,Academic Year,County Code,District Code,FRPM School Code,County Name,District Name,School Name,District Type,School Type,Education_type,...,Free_Meal_count,Percent_Eligible,FRPM_Count,Percent_Eligible_FRPM,Enrollment,Free_Meal_Count,Percent_Eligible_Free,FRPM_Count,Percent_Eligible_FRPM,CALPADS_Fall_Cert_Status
0,2021-2022,1,10017,130419,Alameda,Alameda County Office of Education,alameda county community,County Office of Education (COE),County Community,County Community School,...,45,0.789474,47,0.824561,37,29,0.783784,31,0.837838,Y
1,2021-2022,1,10017,130401,Alameda,Alameda County Office of Education,alameda county juvenile hall/court,County Office of Education (COE),Juvenile Court Schools,Juvenile Court School,...,64,1.000000,64,1.000000,56,56,1.000000,56,1.000000,Y

## school codes do not match need to join on name columns

In [119]:
sld[sld['School Name'].str.startswith('alameda county')]
                                 
# 'Alameda County Office of Education'

,School Name,State Name [Public School] Latest available year,District Name,SLD_School Code,County Name,County Number [Public School] 2020-21,School Type [Public School] 2020-21,Title I School Status [Public School] 2020-21,Latitude [Public School] 2020-21,Longitude [Public School] 2020-21,...,Full-Time Equivalent (FTE) Teachers [Public School] 2020-21,Pupil/Teacher Ratio [Public School] 2020-21,Hispanic - male [Public School] 2020-21,Hispanic - female [Public School] 2020-21,Black or African American - male [Public School] 2020-21,Black or African American - female [Public School] 2020-21,Asian or Asian/Pacific Islander - male [Public School] 2020-21,Asian or Asian/Pacific Islander - female [Public School] 2020-21,National School Lunch Program [Public School] 2020-21,Distrtict Name
115,alameda county community,California,Alameda County Office of Education,691051,Alameda,6001.0,4-Alternative/other school,–,37.658477,-122.098334,...,6.75,15.56,21,38,15,21,0,1,–,alameda county office of education
116,alameda county juvenile hall/court,California,Alameda County Office of Education,691051,Alameda,6001.0,4-Alternative/other school,–,37.715951,-122.118224,...,6,8.33,15,1,31,0,0,0,–,alameda county office of education
117,alameda county special education,California,Alameda County Office of Education,691051,Alameda,6001.0,2-Special education school,–,37.658477,-122.098334,...,–,–,†,†,†,†,†,†,–,alameda county office of education

In [38]:

sld['Distrtict Name'] = sld['District Name'].str.lower()


sld.head()

,School Name,District Name,School Code,County Name [Public School] 2020-21,County Number [Public School] 2020-21,State Name [Public School] 2020-21,School Type [Public School] 2020-21,Title I School Status [Public School] 2020-21,Latitude [Public School] 2020-21,Longitude [Public School] 2020-21,...,Full-Time Equivalent (FTE) Teachers [Public School] 2020-21,Pupil/Teacher Ratio [Public School] 2020-21,Hispanic - male [Public School] 2020-21,Hispanic - female [Public School] 2020-21,Black or African American - male [Public School] 2020-21,Black or African American - female [Public School] 2020-21,Asian or Asian/Pacific Islander - male [Public School] 2020-21,Asian or Asian/Pacific Islander - female [Public School] 2020-21,National School Lunch Program [Public School] 2020-21,Distrtict Name
0,138th street,Wiseburn Unified,601428,Los Angeles County,6037.0,CALIFORNIA,1-Regular school,–,33.906946,-118.375218,...,15.4,28.83,124,131,17,18,13,13,–,wiseburn unified
1,21st century learning institute,Beaumont Unified,604290,Riverside County,6065.0,CALIFORNIA,4-Alternative/other school,–,33.934277,-116.969275,...,7.33,39.97,62,66,9,10,6,8,–,beaumont unified
2,a place to grow,Ojai Unified,628270,Ventura County,6111.0,CALIFORNIA,1-Regular school,–,34.449656,-119.242538,...,–,–,†,†,†,†,†,†,–,ojai unified
3,a. e. arnold elementary,Cypress Elementary,610440,Orange County,6059.0,CALIFORNIA,1-Regular school,–,33.827228,-118.055572,...,21.92,26.73,72,116,15,14,90,121,–,cypress elementary
4,a. g. cook elementary,Garden Grove Unified,614880,Orange County,6059.0,CALIFORNIA,1-Regular school,–,33.763300,-117.958300,...,15.34,24.19,31,49,–,–,119,146,–,garden grove unified

In [ ]:
sld['County Name [Public School] 2020-21'

In [120]:
## check nulls 
m = pd.DataFrame([sld.isnull().sum(),100*sld.isnull().mean()])
m = m.T
m.columns=['count', '%']
m = m.sort_values(by='count',ascending=False)
m.head(10)

                                                    count    %
School Name                                           0.0  0.0
State Name [Public School] Latest available year      0.0  0.0
National School Lunch Program [Public School] 2...    0.0  0.0
Asian or Asian/Pacific Islander - female [Publi...    0.0  0.0
Asian or Asian/Pacific Islander - male [Public ...    0.0  0.0
Black or African American - female [Public Scho...    0.0  0.0
Black or African American - male [Public School...    0.0  0.0
Hispanic - female [Public School] 2020-21             0.0  0.0
Hispanic - male [Public School] 2020-21               0.0  0.0
Pupil/Teacher Ratio [Public School] 2020-21           0.0  0.0

In [27]:
# sld = sld.drop(sld[sld['School Code'].isnull()].index)
# sld['School Code'] = sld['School Code'].apply(pd.to_numeric,errors='coerce')

# sld['School Code']= sld['School Code'].astype('int')
# sld['School Name'] = sld['School Name'].str.lower()

## convert school code to int to match frpm data set

In [122]:
sld[sld.duplicated(subset=['SLD_School Code','School Name'])]

Empty DataFrame
Columns: [School Name, State Name [Public School] Latest available year, District Name, SLD_School Code, County Name, County Number [Public School] 2020-21, School Type [Public School] 2020-21, Title I School Status [Public School] 2020-21, Latitude [Public School] 2020-21, Longitude [Public School] 2020-21, Highest Grade Offered [Public School] 2020-21, Lowest Grade Offered [Public School] 2020-21, Total Students, All Grades (Excludes AE) [Public School] 2020-21, Total Students, All Grades (Includes AE) [Public School] 2020-21, Grades 1-8 Students [Public School] 2020-21, Grades 9-12 Students [Public School] 2020-21, Full-Time Equivalent (FTE) Teachers [Public School] 2020-21, Pupil/Teacher Ratio [Public School] 2020-21, Hispanic - male [Public School] 2020-21, Hispanic - female [Public School] 2020-21, Black or African American - male [Public School] 2020-21, Black or African American - female [Public School] 2020-21, Asian or Asian/Pacific Islander - male [Public School] 2020-21, Asian or Asian/Pacific Islander - female [Public School] 2020-21, National School Lunch Program [Public School] 2020-21, Distrtict Name]
Index: []

[0 rows x 26 columns]

In [138]:
sl = frpm.merge(sld,on=['School Name','District Name','County Name'],how='left')
sl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10558 entries, 0 to 10557
Data columns (total 51 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Academic Year                                                     10558 non-null  object
 1   County Code                                                       10558 non-null  int64
 2   District Code                                                     10558 non-null  int64
 3   FRPM School Code                                                  10558 non-null  int64
 4   County Name                                                       10558 non-null  object
 5   District Name                                                     10558 non-null  object
 6   School Name                                                       10558 non-null  object
 7   District Type                                                     10558 non-null  object
 8   School Type                                                       9992 non-null   object
 9   Education_type                                                    9994 non-null   object
 10  NSLP_Provision_Status                                             4464 non-null   object
 11  Charter_School                                                    9996 non-null   object
 12  Charter
School
Number                                           1291 non-null   object
 13  Charter_funding_type                                              1291 non-null   object
 14  IRC                                                               9996 non-null   object
 15  Low Grade                                                         10135 non-null  object
 16  High Grade                                                        10135 non-null  object
 17  Enrollment                                                        10558 non-null  int64
 18  Free_Meal_count                                                   10558 non-null  int64
 19  Percent_Eligible                                                  10558 non-null  float64
 20  FRPM_Count                                                        10558 non-null  int64
 21  Percent_Eligible_FRPM                                             10558 non-null  float64
 22  Enrollment                                                        10558 non-null  int64
 23  Free_Meal_Count                                                   10558 non-null  int64
 24  Percent_Eligible_Free                                             10558 non-null  float64
 25  FRPM_Count                                                        10558 non-null  int64
 26  Percent_Eligible_FRPM                                             10558 non-null  float64
 27  CALPADS_Fall_Cert_Status                                          10558 non-null  object
 28  State Name [Public School] Latest available year                  8770 non-null   object
 29  SLD_School Code                                                   8770 non-null   float64
 30  County Number [Public School] 2020-21                             8770 non-null   float64
 31  School Type [Public School] 2020-21                               8770 non-null   object
 32  Title I School Status [Public School] 2020-21                     8770 non-null   object
 33  Latitude [Public School] 2020-21                                  8770 non-null   float64
 34  Longitude [Public School] 2020-21                                 8770 non-null   float64
 35  Highest Grade Offered [Public School] 2020-21                     8770 non-null   object
 36  Lowest Grade Offered [Public School] 2020-21                      8770 non-null   object
 37  Total Students, All Grades (Excludes AE) [Public School] 2020-21  8770 non-null   object
 38  Total Students, All Grades (Includes AE) [Public School] 2020-21  8770 non-null   object
 39  Grades 1-8 Students [Public School] 2020-21                       8770 non-null   object
 40  Grades 9-12 Students [Public School] 2020-21                      8770 non-null   object
 41  Full-Time Equivalent (FTE) Teachers [Public School] 2020-21       8770 non-null   object
 42  Pupil/Teacher Ratio [Public School] 2020-21                       8770 non-null   object
 43  Hispanic - male [Public School] 2020-21                           8770 non-null   object
 44  Hispanic - female [Public School] 2020-21                         8770 non-null   object
 45  Black or African American - male [Public School] 2020-21          8770 non-null   object
 46  Black or African American - female [Public School] 2020-21        8770 non-null   object
 47  Asian or Asian/Pacific Islander - male [Public School] 2020-21    8770 non-null   object
 48  Asian or Asian/Pacific Islander - female [Public School] 2020-21  8770 non-null   object
 49  National School Lunch Program [Public School] 2020-21             8770 non-null   object
 50  Distrtict Name                                                    8770 non-null   object
dtypes: float64(8), int64(9), object(34)
memory usage: 4.2+ MB

In [135]:
sl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8770 entries, 0 to 8769
Data columns (total 51 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Academic Year                                                     8770 non-null   object
 1   County Code                                                       8770 non-null   int64
 2   District Code                                                     8770 non-null   int64
 3   FRPM School Code                                                  8770 non-null   int64
 4   County Name                                                       8770 non-null   object
 5   District Name                                                     8770 non-null   object
 6   School Name                                                       8770 non-null   object
 7   District Type                                                     8770 non-null   object
 8   School Type                                                       8770 non-null   object
 9   Education_type                                                    8770 non-null   object
 10  NSLP_Provision_Status                                             4331 non-null   object
 11  Charter_School                                                    8770 non-null   object
 12  Charter
School
Number                                           291 non-null    object
 13  Charter_funding_type                                              291 non-null    object
 14  IRC                                                               8770 non-null   object
 15  Low Grade                                                         8770 non-null   object
 16  High Grade                                                        8770 non-null   object
 17  Enrollment                                                        8770 non-null   int64
 18  Free_Meal_count                                                   8770 non-null   int64
 19  Percent_Eligible                                                  8770 non-null   float64
 20  FRPM_Count                                                        8770 non-null   int64
 21  Percent_Eligible_FRPM                                             8770 non-null   float64
 22  Enrollment                                                        8770 non-null   int64
 23  Free_Meal_Count                                                   8770 non-null   int64
 24  Percent_Eligible_Free                                             8770 non-null   float64
 25  FRPM_Count                                                        8770 non-null   int64
 26  Percent_Eligible_FRPM                                             8770 non-null   float64
 27  CALPADS_Fall_Cert_Status                                          8770 non-null   object
 28  State Name [Public School] Latest available year                  8770 non-null   object
 29  SLD_School Code                                                   8770 non-null   int64
 30  County Number [Public School] 2020-21                             8770 non-null   float64
 31  School Type [Public School] 2020-21                               8770 non-null   object
 32  Title I School Status [Public School] 2020-21                     8770 non-null   object
 33  Latitude [Public School] 2020-21                                  8770 non-null   float64
 34  Longitude [Public School] 2020-21                                 8770 non-null   float64
 35  Highest Grade Offered [Public School] 2020-21                     8770 non-null   object
 36  Lowest Grade Offered [Public School] 2020-21                      8770 non-null   object
 37  Total Students, All Grades (Excludes AE) [Public School] 2020-21  8770 non-null   object
 38  Total Students, All Grades (Includes AE) [Public School] 2020-21  8770 non-null   object
 39  Grades 1-8 Students [Public School] 2020-21                       8770 non-null   object
 40  Grades 9-12 Students [Public School] 2020-21                      8770 non-null   object
 41  Full-Time Equivalent (FTE) Teachers [Public School] 2020-21       8770 non-null   object
 42  Pupil/Teacher Ratio [Public School] 2020-21                       8770 non-null   object
 43  Hispanic - male [Public School] 2020-21                           8770 non-null   object
 44  Hispanic - female [Public School] 2020-21                         8770 non-null   object
 45  Black or African American - male [Public School] 2020-21          8770 non-null   object
 46  Black or African American - female [Public School] 2020-21        8770 non-null   object
 47  Asian or Asian/Pacific Islander - male [Public School] 2020-21    8770 non-null   object
 48  Asian or Asian/Pacific Islander - female [Public School] 2020-21  8770 non-null   object
 49  National School Lunch Program [Public School] 2020-21             8770 non-null   object
 50  Distrtict Name                                                    8770 non-null   object
dtypes: float64(7), int64(10), object(34)
memory usage: 3.5+ MB

In [139]:

## check nulls 
m = pd.DataFrame([sld.isnull().sum(),100*sld.isnull().mean()])
m = m.T
m.columns=['count', '%']
m = m.sort_values(by='count',ascending=False)
m.head(10)

                                                    count    %
School Name                                           0.0  0.0
State Name [Public School] Latest available year      0.0  0.0
National School Lunch Program [Public School] 2...    0.0  0.0
Asian or Asian/Pacific Islander - female [Publi...    0.0  0.0
Asian or Asian/Pacific Islander - male [Public ...    0.0  0.0
Black or African American - female [Public Scho...    0.0  0.0
Black or African American - male [Public School...    0.0  0.0
Hispanic - female [Public School] 2020-21             0.0  0.0
Hispanic - male [Public School] 2020-21               0.0  0.0
Pupil/Teacher Ratio [Public School] 2020-21           0.0  0.0

In [140]:
sl.to_csv('../../../data/by_student_group/frpm_school_groups.csv')