In [1]:
import pandas as pd
import numpy as np
from yelpapi import YelpAPI
from config import api_key, client_id

With school zip codes can query yelp api,

In [2]:

yelp_api = YelpAPI(api_key)
client_id = client_id
api_key = api_key

# what is distance units from yelp api? 

## look up liquor stores/ grovery stores /

## look at east palo alto versus palo alto and see if ratio looks different or not, need to find distance 
## that I can relate from the school / how far and what kind of stores should I relate to each school? 
# do any of the ratios created correlate with the mean score? 
## look at nulls per county to see if there are target areas that need to be cleaned up or re eval as sf is 
missing hella scores 
##

In [3]:
locations = pd.read_csv('../../data/by_student_group/locations.csv')
locations.drop('Unnamed: 0',axis=1,inplace=True)
locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3229 entries, 0 to 3228
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uniq_ID           3229 non-null   int64
 1   District Code     3229 non-null   int64
 2   School Code       3229 non-null   int64
 3   Student Group ID  3229 non-null   int64
 4   School Name_x     3143 non-null   object
 5   Zip Code          3143 non-null   float64
 6   Latitude          2615 non-null   float64
 7   Longitude         2615 non-null   float64
dtypes: float64(3), int64(4), object(1)
memory usage: 201.9+ KB

In [4]:
locations.sample(5)

,uniq_ID,District Code,School Code,Student Group ID,School Name_x,Zip Code,Latitude,Longitude
246,6067649,61960,6005680,1,Pinewood Elementary,95726.0,38.765900,-120.588400
2256,204801,68627,136135,1,Delta Charter Online,95330.0,37.667944,-121.324145
2507,6116550,69419,6047088,1,Stevens Creek Elementary,95014.0,37.328300,-122.063300
374,6082500,75408,6007082,1,Riverdale Elementary,93656.0,36.434383,-119.864022
3086,5705451,72546,5632849,1,Hueneme High,93033.0,34.159700,-119.182300

## test location pulling

- 12.427424 = 20,000 meters  conversion 
### documentation
https://www.yelp.com/developers/documentation/v3/business_search

In [5]:
term = 'Grocery Store'
location = 90301
search_limit = 50
radius = 5000 # in meters 
response = yelp_api.search_query(term = term,
                                 location = location,
                                 radius = radius,
                                 limit = search_limit)
cols = list(response['businesses'][0].keys())
data = pd.DataFrame(columns=cols)
for biz in response['businesses']:
    data = data.append(biz, ignore_index=True)
print(len(data))
print(np.round(data.iloc[0]['distance'],0))
data.head()

50
2227.0

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,vChrhqM81shcIxQGevmzrA,edward-vincent-jr-park-inglewood,Edward Vincent Jr Park,https://s3-media1.fl.yelpcdn.com/bphoto/kVyjHm...,False,https://www.yelp.com/biz/edward-vincent-jr-par...,37,"[{'alias': 'parks', 'title': 'Parks'}, {'alias...",4.0,"{'latitude': 33.97178, 'longitude': -118.34583}",[],"{'address1': '700 Warren Ln', 'address2': '', ...",+13104125370,(310) 412-5370,2226.813382,NaN
1,TCodl-oohhgqnMMSJxMV6g,fox-hills-park-culver-city,Fox Hills Park,https://s3-media2.fl.yelpcdn.com/bphoto/NtXwlj...,False,https://www.yelp.com/biz/fox-hills-park-culver...,52,"[{'alias': 'parks', 'title': 'Parks'}]",4.0,"{'latitude': 33.9831443779434, 'longitude': -1...",[],{'address1': 'Green Valley Cir Buckingham Pkwy...,+13103919152,(310) 391-9152,3571.350476,NaN
2,T_XtXucDjS8CCJGfIR1DJA,north-park-inglewood,North Park,https://s3-media2.fl.yelpcdn.com/bphoto/8sEM2j...,False,https://www.yelp.com/biz/north-park-inglewood?...,1,"[{'alias': 'publicservicesgovt', 'title': 'Pub...",4.0,"{'latitude': 33.979487, 'longitude': -118.347809}",[],"{'address1': '625 E Hargrave St', 'address2': ...",+13104125370,(310) 412-5370,2666.696424,NaN
3,qVOvO8AptMjxxkwrKaaVjQ,del-aire-public-fruit-park-hawthorne,Del Aire Public Fruit Park,https://s3-media4.fl.yelpcdn.com/bphoto/iy18rM...,False,https://www.yelp.com/biz/del-aire-public-fruit...,4,"[{'alias': 'parks', 'title': 'Parks'}]",4.5,"{'latitude': 33.9178298064694, 'longitude': -1...",[],"{'address1': '12601 S Isis Ave', 'address2': '...",,,4682.491989,NaN
4,Smx2Dv8gHT_b-79V3QGYuA,central-park-at-playa-vista-los-angeles,Central Park at Playa Vista,https://s3-media2.fl.yelpcdn.com/bphoto/A5qfrQ...,False,https://www.yelp.com/biz/central-park-at-playa...,67,"[{'alias': 'parks', 'title': 'Parks'}]",3.5,"{'latitude': 33.9820412305723, 'longitude': -1...",[],"{'address1': '12045 Waterfront Dr', 'address2'...",,,4818.653260,NaN

In [6]:
test = locations.sample(10)
test

,uniq_ID,District Code,School Code,Student Group ID,School Name_x,Zip Code,Latitude,Longitude
2843,5101394,71217,5030127,1,Del Puerto High,95363.0,37.475600,-121.140300
2855,6124392,71282,6053060,1,Josephine Chrysler Elementary,95350.0,37.680700,-121.039700
1781,176094,67314,108746,1,Katherine L. Albiani Middle,95624.0,38.426256,-121.336806
2207,207885,68585,139261,1,Valley Robotics Academy,95242.0,38.100321,-121.310955
2221,6110778,68585,6042154,1,Leroy Nichols Elementary,95240.0,38.116853,-121.283359
2312,6112059,68809,6043210,1,Del Mar Elementary,93442.0,35.396800,-120.858500
275,62176,62166,0,1,NaN,NaN,NaN,NaN
1284,6089715,65359,6024335,1,Lagunitas Elementary,94963.0,38.017136,-122.675299
1331,6099754,75002,6024731,1,Wade Thomas Elementary,94960.0,37.970900,-122.567600
1107,6126162,64733,6061410,1,John Burroughs Middle,90005.0,34.064215,-118.336762

In [7]:
## testimng ----
## function to call and return data from yelp api 

def grocery_search(term,zipc,radius,lat,long):
    num_g = 0
    dist_g=0
    limit =50
    
    if zipc >0:
        location = int(zipc)
    else:
        location = zipc
        

    # no zip means all null ( district averages) 
    if lat  >0:
#         print('there is lat ',lat,' ',long)
        try:
            response = yelp_api.search_query(term = term,
                                       latitude=lat,
                                     longitude=long,
                                     radius = radius,
                                     limit = search_limit)
        except:
#             print('call failed')
            num_g = np.nan
            dist_g=np.nan
            return num_g , dist_g
            
        num_g = len(response['businesses'])
        if num_g>0:
            dist_g = np.round(response['businesses'][0]['distance'],0)
        else:
            dist_g = np.nan
        return num_g,dist_g
      
    
    elif location >0: # use zipcode 
#         print('use zip code',location)
        
        try:
            response = yelp_api.search_query(term = term,
                                             location=zipc,
                                     radius = radius,
                                     limit = search_limit)
        except:
#             print('call failed')
            num_g = np.nan
            dist_g=np.nan
            return num_g , dist_g
            

        num_g = len(response['businesses']) 
#         print('len num_g = ',num_g)
        if num_g>0:
            dist_g = np.round(response['businesses'][0]['distance'],0)
        else:
            dist_g = np.nan
        return num_g,dist_g


    else:
        ('all null',zipc,lat)
        num_g = np.nan
        dist_g=np.nan
        return num_g , dist_g



    
    return num_g,dist_g

## full updated run 4/26/22

In [8]:
test = locations.copy()

In [ ]:
## test

num_grocery=[]
first_grocery_dist = []
term = 'public park'
search_limit = 50
radius = 5000 # in meters about 3 miles 
for i in range(len(test)):
    lat = test.iloc[i]['Latitude']
    long = test.iloc[i]['Longitude']
    zipc = test.iloc[i]['Zip Code']

    
    num_p,dist_p = park_search(term,zipc,radius,lat,long)
    
    num_grocery.append(num_p)
    first_grocery_dist.append(dist_p)

In [9]:

print(len(num_grocery),len(first_grocery_dist))

NameError: name 'num_parks' is not defined

In [ ]:
test['Parks_3mile']=num_grocery
test['first_park_dist']=first_grocery_dist
test

In [ ]:
## check nulls 
m = pd.DataFrame([test.isnull().sum(),100*test.isnull().mean()])
m = m.T
m.columns=['count', '%']
m = m.sort_values(by='count',ascending=False)
m.head(10)

# above is what is working for now

In [20]:
test.drop(columns=['gt','gro'],inplace=True)
test.to_csv('../../data/by_student_group/yelp_data.csv')