In [1]:
import pandas as pd
import numpy as np
from yelpapi import YelpAPI
from config import api_key, client_id

With school zip codes can query yelp api,

In [2]:

yelp_api = YelpAPI(api_key)
client_id = client_id
api_key = api_key

# what is distance units from yelp api? 

## look up liquor stores/ grovery stores /

## look at east palo alto versus palo alto and see if ratio looks different or not, need to find distance 
## that I can relate from the school / how far and what kind of stores should I relate to each school? 
# do any of the ratios created correlate with the mean score? 
## look at nulls per county to see if there are target areas that need to be cleaned up or re eval as sf is 
missing hella scores 
##

In [3]:
locations = pd.read_csv('../../data/by_student_group/locations.csv')
locations.drop('Unnamed: 0',axis=1,inplace=True)
locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3229 entries, 0 to 3228
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uniq_ID           3229 non-null   int64
 1   District Code     3229 non-null   int64
 2   School Code       3229 non-null   int64
 3   Student Group ID  3229 non-null   int64
 4   School Name_x     3143 non-null   object
 5   Zip Code          3143 non-null   float64
 6   Latitude          2615 non-null   float64
 7   Longitude         2615 non-null   float64
dtypes: float64(3), int64(4), object(1)
memory usage: 201.9+ KB

In [4]:
locations.sample(5)

,uniq_ID,District Code,School Code,Student Group ID,School Name_x,Zip Code,Latitude,Longitude
18,6151635,61150,6090484,1,Vannoy Elementary,94546.0,37.707122,-122.058774
2329,4111259,75457,4035762,1,Liberty High (Continuation),93446.0,35.614800,-120.672400
2247,4003735,68593,3935103,1,Manteca High,95336.0,37.796000,-121.211900
2278,3999142,68676,3930427,1,Weber Institute,95203.0,37.952200,-121.294800
2266,176874,68676,108159,1,Cesar Chavez High,95212.0,38.013100,-121.268300

## test location pulling

- 12.427424 = 20,000 meters  conversion 
### documentation
https://www.yelp.com/developers/documentation/v3/business_search

In [5]:
term = 'grocery store'
location = 90301
search_limit = 50
radius = 5000 # in meters 
response = yelp_api.search_query(term = term,
                                 location = location,
                                 radius = radius,
                                 limit = search_limit)
cols = list(response['businesses'][0].keys())
data = pd.DataFrame(columns=cols)
for biz in response['businesses']:
    data = data.append(biz, ignore_index=True)
print(len(data))
print(np.round(data.iloc[0]['distance'],0))
data.head()

50
1151.0

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,r5oUVE7H2INmAZdxoTSgag,vons-inglewood,Vons,https://s3-media1.fl.yelpcdn.com/bphoto/XH_AT-...,False,https://www.yelp.com/biz/vons-inglewood?adjust...,195,"[{'alias': 'grocery', 'title': 'Grocery'}]",2.5,"{'latitude': 33.96032342497343, 'longitude': -...",[],$$,"{'address1': '500 E Manchester Blvd', 'address...",+13106770286,(310) 677-0286,1151.450936
1,7Z0AlaVuwjiowWQbrVAd9Q,ralphs-los-angeles-35,Ralphs,https://s3-media4.fl.yelpcdn.com/bphoto/7Abn1D...,False,https://www.yelp.com/biz/ralphs-los-angeles-35...,150,"[{'alias': 'grocery', 'title': 'Grocery'}]",2.5,"{'latitude': 33.9564071303422, 'longitude': -1...",[],$$,"{'address1': '8824 S Sepulveda Blvd', 'address...",+13106452035,(310) 645-2035,3309.814515
2,OMEf71Dv8UuKpyXSQYIEBQ,roberts-market-los-angeles-3,Robert's Market,https://s3-media3.fl.yelpcdn.com/bphoto/IjVFBs...,False,https://www.yelp.com/biz/roberts-market-los-an...,61,"[{'alias': 'grocery', 'title': 'Grocery'}]",4.5,"{'latitude': 33.95966, 'longitude': -118.381968}",[delivery],$$,"{'address1': '5744 W Manchester Ave', 'address...",+13106413500,(310) 641-3500,1904.958398
3,s6jdv4JK4vQqgJ8Q516eGQ,amazon-fresh-los-angeles-10,Amazon Fresh,https://s3-media1.fl.yelpcdn.com/bphoto/kxW40c...,False,https://www.yelp.com/biz/amazon-fresh-los-ange...,50,"[{'alias': 'grocery', 'title': 'Grocery'}]",3.5,"{'latitude': 33.9759408695652, 'longitude': -1...",[],NaN,"{'address1': '6855 S La Cienega Blvd', 'addres...",+18882804331,(888) 280-4331,2123.174016
4,yX6jC_ZhYEh1DiyPUOLzzg,trader-joes-westchester-2,Trader Joe's,https://s3-media2.fl.yelpcdn.com/bphoto/vOs-tV...,False,https://www.yelp.com/biz/trader-joes-westchest...,246,"[{'alias': 'grocery', 'title': 'Grocery'}]",4.0,"{'latitude': 33.9587392, 'longitude': -118.396...",[],$$,"{'address1': '8645 S Sepulveda', 'address2': '...",+13103389238,(310) 338-9238,3254.581524

In [10]:
test = locations.sample(100)
test

,uniq_ID,District Code,School Code,Student Group ID,School Name_x,Zip Code,Latitude,Longitude
644,110994,10199,100776,1,North Valley Military Institute College Prepar...,91352.0,NaN,NaN
683,64306,64287,0,1,NaN,NaN,NaN,NaN
9,196684,61150,135533,1,Redwood Continuation High,94546.0,37.713314,-122.092492
1576,6097182,66696,6030456,1,Cerritos Elementary,92804.0,33.810500,-118.017000
2564,6129765,69641,6060081,1,Jane Lathrop Stanford Middle,94306.0,37.420775,-122.117944
...,...,...,...,...,...,...,...,...
1243,2009699,73452,1936228,1,Nogales High,91744.0,34.009500,-117.889200
123,6064915,61549,6003362,1,Poplar Avenue Elementary,95965.0,39.512599,-121.611280
1442,6161383,66373,6094981,1,Magnolia Intermediate,95949.0,39.051592,-121.068706
2223,6110812,68585,6042188,1,Lockeford Elementary,95237.0,38.161024,-121.148887
1238,2060800,65128,1995653,1,Sierra Vista High (Alternative),90605.0,33.952489,-118.045243

In [7]:
## testimng ----
## function to call and return data from yelp api 

def grocery_search(term,zipc,radius,lat,long):
    num_g = 0
    dist_g=0
    limit =50
    
    if zipc >0:
        location = int(zipc)
    else:
        location = zipc
        

    # no zip means all null ( district averages) 
    if lat  >0:
#         print('there is lat ',lat,' ',long)
        try:
            response = yelp_api.search_query(term = term,
                                       latitude=lat,
                                     longitude=long,
                                     radius = radius,
                                     limit = search_limit)
        except:
#             print('call failed')
            num_g = np.nan
            dist_g=np.nan
            return num_g , dist_g
            
        num_g = len(response['businesses'])
        if num_g>0:
            dist_g = np.round(response['businesses'][0]['distance'],0)
        else:
            dist_g = np.nan
        return num_g,dist_g
      
    
    elif location >0: # use zipcode 
#         print('use zip code',location)
        
        try:
            response = yelp_api.search_query(term = term,
                                             location=zipc,
                                     radius = radius,
                                     limit = search_limit)
        except:
#             print('call failed')
            num_g = np.nan
            dist_g=np.nan
            return num_g , dist_g
            

        num_g = len(response['businesses']) 
#         print('len num_g = ',num_g)
        if num_g>0:
            dist_g = np.round(response['businesses'][0]['distance'],0)
        else:
            dist_g = np.nan
        return num_g,dist_g


    else:
        ('all null',zipc,lat)
        num_g = np.nan
        dist_g=np.nan
        return num_g , dist_g



    
    return num_g,dist_g

In [11]:
print(type(test.iloc[0]['Latitude']))

<class 'numpy.float64'>

In [12]:
test.iloc[0]['Latitude'] > 0

False

## full updated run 4/26/22

In [13]:
test = locations.copy()

In [14]:
## test

groceryt=[]
gt = []
term = 'grocery store'
search_limit = 50
radius = 5000 # in meters about 3 miles 
for i in range(len(test)):
    lat = test.iloc[i]['Latitude']
    long = test.iloc[i]['Longitude']
    zipc = test.iloc[i]['Zip Code']

    
    num_g,dist_g = grocery_search(term,zipc,radius,lat,long)
    
    groceryt.append(num_g)
    gt.append(dist_g)
#     print(test.iloc[i][['School Name_x','Zip Code']],lat ,long,'\n',
#           groceryt[i],gt[i])
   
# print(grocery)

print(len(groceryt,gt))

TypeError: len() takes exactly one argument (2 given)

In [15]:

print(len(groceryt),len(gt))

3229 3229

In [18]:
test['Grocery_3mile']=groceryt
test['Grocery_dist']=gt
test

,uniq_ID,District Code,School Code,Student Group ID,School Name_x,Zip Code,Latitude,Longitude,gro,gt,Grocery_3mile,Grocery_dist
0,122625,10017,112607,1,Envision Academy for Arts & Technology,94612.0,NaN,NaN,50.0,1372.0,50.0,1372.0
1,134190,10017,124172,1,Yu Ming Charter,94608.0,NaN,NaN,50.0,743.0,50.0,743.0
2,141599,10017,131581,1,Oakland Unity Middle,94621.0,NaN,NaN,NaN,NaN,NaN,NaN
3,147466,10017,137448,1,Aurum Preparatory Academy,94621.0,NaN,NaN,NaN,NaN,NaN,NaN
4,6012018,10017,6002000,1,Lazear Charter Academy,94601.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3224,6171808,72736,6099014,1,Browns Valley Elementary,95918.0,39.236100,-121.407700,0.0,NaN,0.0,NaN
3225,6129625,72751,6056816,1,Bear River,95692.0,39.009000,-121.436400,5.0,1239.0,5.0,1239.0
3226,6129641,72751,6056832,1,Lone Tree Elementary,95903.0,39.102295,-121.334456,1.0,5211.0,1.0,5211.0
3227,6129649,72751,6056840,1,Wheatland Elementary,95692.0,39.011700,-121.429400,4.0,668.0,4.0,668.0
3228,6191615,72751,6118806,1,Wheatland Charter Academy,95903.0,39.102700,-121.334400,1.0,5200.0,1.0,5200.0

In [17]:
## check nulls 
m = pd.DataFrame([test.isnull().sum(),100*test.isnull().mean()])
m = m.T
m.columns=['count', '%']
m = m.sort_values(by='count',ascending=False)
m.head(10)

                  count          %
Latitude          614.0  19.015175
Longitude         614.0  19.015175
gt                360.0  11.148963
gro               263.0   8.144937
School Name_x      86.0   2.663363
Zip Code           86.0   2.663363
uniq_ID             0.0   0.000000
District Code       0.0   0.000000
School Code         0.0   0.000000
Student Group ID    0.0   0.000000

# above is what is working for now

In [20]:
test.drop(columns=['gt','gro'],inplace=True)
test.to_csv('../../data/by_student_group/yelp_data.csv')

In [36]:
## testimng ----
## function to call and return data from yelp api 

def grocery_search(term,zipc,radius,lat,long):
    num_g = 0
    dist_g=0
    limit =50
    term = term
    location = zipc
    radius = radius
    # no zip means all null ( district averages) 
    if zipc == np.nan:
        print('no zip')
        num_g = np.nan
        dist_g=np.nan
        return num_g , dist_g
    
    elif lat == np.nan: # use zipcode 
        print('no lat')
        
        response = yelp_api.search_query(term = term,
                                         location=zipc,

                                 radius = radius,
                                 limit = search_limit)

        num_g = len(response['businesses']) ## cant test this right now
        dist_g = np.round(response['businesses'][0]['distance'],0)
        print('no lat num = ',num_g)
        return num_g,dist_g

            
#             print('term',zipc,lat,long,'failed query','  error in zip resposne')
#             num_g = np.nan
#             dist_g=np.nan
#             return num_g , dist_g

    else:
        
        print('there is lat ')
        response = yelp_api.search_query(term = term,
                                   latitude=lat,
                                 longitude=long,
                                 radius = radius,
                                 limit = search_limit)
        num_g = len(response['businesses']) ## cant test this right now
        dist_g = np.round(response['businesses'][0]['distance'],0)
        return num_g,dist_g

#         except:
#             print('error in response with lat')
# #             print('term',zipc,lat,long,'failed query')
#             num_g = np.nan
#             dist_g=np.nan
#             return num_g , dist_g
    
#     return num_g,dist_g

In [32]:
## function to call and return data from yelp api 

def grocery_search(term,zipc,radius,lat,long):
    num_g = 0
    dist_g=0
    limit =50
    term = term
    location = zipc
    radius = radius
    # if no latitude try zip 
    
    if lat == np.nan:
        print('no lat')
        try:
            response = yelp_api.search_query(term = term,
                                             location=zipc,
                                        
                                     radius = radius,
                                     limit = search_limit)
            
            num_g = len(response['businesses']) ## cant test this right now
            dist_g = np.round(response['businesses'][0]['distance'],0)
            print('no lat num = ',num_g)
            return num_g,dist_g
        except:
            
            print('term',zipc,lat,long,'failed query','  error in zip resposne')
            num_g = np.nan
            dist_g=np.nan
            return num_g , dist_g

    else:
        try:
            print('there is lat ')
            response = yelp_api.search_query(term = term,
                                       latitude=lat,
                                     longitude=long,
                                     radius = radius,
                                     limit = search_limit)
            num_g = len(response['businesses']) ## cant test this right now
            dist_g = np.round(response['businesses'][0]['distance'],0)
            return num_g,dist_g
#             cols = list(response['businesses'][0].keys())
#             data = pd.DataFrame(columns=cols)
#             for biz in response['businesses']:
#                 data = data.append(biz, ignore_index=True)
        except:
            print('error in response with lat')
#             print('term',zipc,lat,long,'failed query')
            num_g = np.nan
            dist_g=np.nan
            return num_g , dist_g
    
#     return num_g,dist_g

In [37]:
## test

groceryt=[]
# ff = []
# parks = []
gt = []
term = 'grocery store'
search_limit = 50
radius = 5000 # in meters about 3 miles 
for i in range(len(test)):
    lat = test.iloc[i]['Latitude']
    long = test.iloc[i]['Longitude']
    zipc = test.iloc[i]['Zip Code']

    
    num_g,dist_g = grocery_search(term,zipc,radius,lat,long)
    
    groceryt.append(num_g)
    gt.append(dist_g)
#     grocery.append(search('grocery store',zipc,radius,lat,long))
#     g_dist.append(distance('grocery store',zipc,radius,lat,long))
#     ff.append(search('fast food',zipc,radius,lat,long))
#     parks.append(search('public park',zipc,radius,lat,long))
    print(test.iloc[i][['School Name_x','Zip Code']],lat ,long,'\n',
          groceryt[i],gt[i])
   
# print(grocery)
# print(ff)
# print(parks)
# print(g_dist)
print(len(groceryt),len(gt))

there is lat

YelpAPIError: INTERNAL_ERROR: Something went wrong internally, please try again later.

In [34]:
groceryt

[nan, nan, nan, nan, 3, nan, nan]

In [35]:
print(type(test.iloc[2]['Latitude']))
print(test.iloc[2]['Latitude'])

<class 'numpy.float64'>
nan

In [59]:
test['gro']=groceryt
test['gt']=gt
test

,uniq_ID,District Code,School Code,Student Group ID,School Name_x,Zip Code,Latitude,Longitude,Num_grocery,Dist_grocery,gro,gt
762,1998059,64568,1933472,1,Daily (Allan F.) High (Continuation),91206.0,34.149129,-118.251173,50.0,432.0,50.0,432.0
167,61761,61754,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,192646,64733,127894,1,Valor Academy High,91343.0,NaN,NaN,NaN,NaN,NaN,NaN
1099,2060825,64733,1996073,1,Tri-C Community Day,90021.0,34.031540,-118.253562,50.0,1708.0,50.0,1708.0
2427,6114058,69039,6044978,1,North Shoreview Montessori,94401.0,37.575400,-122.316100,50.0,1323.0,50.0,1323.0
57,176128,61259,114868,1,Oakland Charter High,94601.0,NaN,NaN,NaN,NaN,NaN,NaN
2978,6126551,72132,6054365,1,Springville Elementary,93265.0,36.130500,-118.822500,1.0,459.0,1.0,459.0

## updated loop below

In [26]:
locations.shape

(3229, 8)

In [27]:
range(len(locations))

range(0, 3229)

In [28]:
## full 

grocery=[]
# ff = []
# parks = []
g_dist = []
term = 'grocery store'
search_limit = 50
radius = 5000 # in meters about 3 miles 
for i in range(len(locations)):
    lat = locations.iloc[i]['Latitude']
    long = locations.iloc[i]['Longitude']
    zipc = locations.iloc[i]['Zip Code']

    
    num_g,dist_g = grocery_search(term,zipc,radius,lat,long)
    
    grocery.append(num_g)
    g_dist.append(dist_g)
#     grocery.append(search('grocery store',zipc,radius,lat,long))
#     g_dist.append(distance('grocery store',zipc,radius,lat,long))
#     ff.append(search('fast food',zipc,radius,lat,long))
#     parks.append(search('public park',zipc,radius,lat,long))
#     print(test.iloc[i][['School Name_x','Zip Code']],lat ,long,'\n',
#           grocery[i],ff[i],parks[i],g_dist[i])
   
# print(grocery)
# print(ff)
# print(parks)
# print(g_dist)
print(len(grocery),len(g_dist))

3229 3229

In [35]:
locations['Num_grocery']=grocery
locations['Dist_grocery']=g_dist
print(locations.sample(5))
locations.to_csv('../../data/by_student_group/yelp_data.csv')

,uniq_ID,District Code,School Code,Student Group ID,School Name_x,Zip Code,Latitude,Longitude,Num_grocery,Dist_grocery
37,6062443,61200,6001242,1,East Avenue Middle,94550.0,37.678700,-121.750800,37.0,2003.0
982,191276,64733,126524,1,Linda Esperanza Marquez High B LIBRA Academy,90255.0,33.982915,-118.234040,50.0,804.0
3151,6128829,72652,6056121,1,Loma Vista Elementary,93003.0,34.278490,-119.249532,50.0,1206.0
629,1813999,76976,1737006,1,Upper Lake High,95485.0,39.165055,-122.902280,4.0,4843.0
613,196610,64022,132571,1,Konocti Education Center,95422.0,38.933472,-122.615310,9.0,3554.0

In [37]:
## check nulls 
m = pd.DataFrame([locations.isnull().sum(),100*locations.isnull().mean()])
m = m.T
m.columns=['count', '%']
m = m.sort_values(by='count',ascending=False)
m.head(10)

                  count          %
Num_grocery       683.0  21.152059
Dist_grocery      683.0  21.152059
Latitude          614.0  19.015175
Longitude         614.0  19.015175
School Name_x      86.0   2.663363
Zip Code           86.0   2.663363
uniq_ID             0.0   0.000000
District Code       0.0   0.000000
School Code         0.0   0.000000
Student Group ID    0.0   0.000000

In [ ]:
locations.to_csv('../../data/by_student_group/yelp_data.csv')

## cant make 1.25M calls dummy, only 5k tomorrow. need to figure how many zip codes and how many schools and get all info on each once

In [ ]:
## kipp heritage school in east san jose came up with zeros, continue to look if zeros come up for lots of poor areas

In [71]:
## test failed zip 

## its only thew range that is comping up zero as most things for this is 6 miles away not 3 

lat = 40.673838
long = -122.363003
term = 'grocery store'
location = 92345.0
# .0
search_limit = 50
radius = 5000 # in meters 
response = yelp_api.search_query(term = term,
                                 location = location,
#                                  latitude=lat,
#                                  longitude=long,
                                 radius = radius,
                                 limit = search_limit)
cols = list(response['businesses'][0].keys())
data = pd.DataFrame(columns=cols)
for biz in response['businesses']:
    data = data.append(biz, ignore_index=True)
print(len(data))
data.head()

IndexError: list index out of range

## test below

In [73]:
lat = 40.673838
long = -122.363003
term = 'grocery store'
location = 92345.0
# .0
search_limit = 50
radius = 10000 # in meters 
response = yelp_api.search_query(term = term,
                                 location = location,
#                                  latitude=lat,
#                                  longitude=long,
                                 radius = radius,
                                 limit = search_limit)
cols = list(response['businesses'][0].keys())
data = pd.DataFrame(columns=cols)
for biz in response['businesses']:
    data = data.append(biz, ignore_index=True)
print(len(data))
data.head()

22

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,Y08uLWNc8k6j4xXXCk9pKA,stater-bros-markets-hesperia-5,Stater Bros. Markets,https://s3-media4.fl.yelpcdn.com/bphoto/cWB9zF...,False,https://www.yelp.com/biz/stater-bros-markets-h...,35,"[{'alias': 'grocery', 'title': 'Grocery'}, {'a...",2.5,"{'latitude': 34.4269796, 'longitude': -117.348...",[],$$$$,"{'address1': '14466 Main St', 'address2': '', ...",+17602442299,(760) 244-2299,7026.398376
1,TqFo-G4us5Hmxumfq5Hldw,stater-bros-markets-hesperia-2,Stater Bros. Markets,https://s3-media2.fl.yelpcdn.com/bphoto/2noKM3...,False,https://www.yelp.com/biz/stater-bros-markets-h...,50,"[{'alias': 'grocery', 'title': 'Grocery'}, {'a...",2.0,"{'latitude': 34.421688, 'longitude': -117.294487}",[],$$,"{'address1': '16904 Main St', 'address2': None...",+17602441503,(760) 244-1503,6192.244851
2,l1nG3zGWGtL4Kq-xD642hQ,walmart-supercenter-hesperia-5,Walmart Supercenter,https://s3-media2.fl.yelpcdn.com/bphoto/jnLyO2...,False,https://www.yelp.com/biz/walmart-supercenter-h...,170,"[{'alias': 'deptstores', 'title': 'Department ...",2.0,"{'latitude': 34.4242262440587, 'longitude': -1...",[],$,"{'address1': '13401 Main St', 'address2': None...",+17609484851,(760) 948-4851,7773.477293
3,Tqr1RSAiz3lXbdad_cbiUg,asian-pride-hesperia,Asian Pride,https://s3-media2.fl.yelpcdn.com/bphoto/4iFAHs...,False,https://www.yelp.com/biz/asian-pride-hesperia?...,8,"[{'alias': 'grocery', 'title': 'Grocery'}]",3.0,"{'latitude': 34.42308813485706, 'longitude': -...",[],$$,"{'address1': '15885 Main St', 'address2': 'Ste...",+17609498789,(760) 949-8789,5976.713904
4,4Mr0OEuOksVVII0zWeYppA,vallarta-supermarkets-hesperia-2,Vallarta Supermarkets,https://s3-media4.fl.yelpcdn.com/bphoto/1zSYS7...,False,https://www.yelp.com/biz/vallarta-supermarkets...,54,"[{'alias': 'grocery', 'title': 'Grocery'}]",2.5,"{'latitude': 34.420196, 'longitude': -117.283288}","[pickup, delivery]",$$,"{'address1': '17390 Main St', 'address2': '', ...",+14426003020,(442) 600-3020,6468.098463

In [ ]:
## function to call and return data from yelp api 

def search(term,zipc,radius,lat,long):
    limit =50
    term = term
    location = zipc
    radius = radius
    # if no latitude try zip 
    if lat is None:
        try:
            response = yelp_api.search_query(term = term,
                                             location=zipc,
                                        
                                     radius = radius,
                                     limit = search_limit)
            cols = list(response['businesses'][0].keys())
            data = pd.DataFrame(columns=cols)
            for biz in response['businesses']:
                data = data.append(biz, ignore_index=True)
        except:
#             print('term',zipc,lat,long,'failed query')
            return np.nan
    else:
        try:

            response = yelp_api.search_query(term = term,
                                       latitude=lat,
                                     longitude=long,
                                     radius = radius,
                                     limit = search_limit)
            cols = list(response['businesses'][0].keys())
            data = pd.DataFrame(columns=cols)
            for biz in response['businesses']:
                data = data.append(biz, ignore_index=True)
        except:
#             print('term',zipc,lat,long,'failed query')
            return np.nan
    
    return len(data)


## function to call and return data from yelp api 

def distance(term,zipc,radius,lat,long):
    limit =5
    term = term
    location = zipc
    radius = radius
    # if no latitude try zip 
    if lat is None:
        try:
            response = yelp_api.search_query(term = term,
                                             location=zipc,
                                        
                                     radius = radius,
                                     limit = search_limit)
            cols = list(response['businesses'][0].keys())
            data = pd.DataFrame(columns=cols)
            for biz in response['businesses']:
                data = data.append(biz, ignore_index=True)
        except:
#             print('term',zipc,lat,long,'failed query')
            return np.nan
    else:
        try:

            response = yelp_api.search_query(term = term,
                                       latitude=lat,
                                     longitude=long,
                                     radius = radius,
                                     limit = search_limit)
            cols = list(response['businesses'][0].keys())
            data = pd.DataFrame(columns=cols)
            for biz in response['businesses']:
                data = data.append(biz, ignore_index=True)
        except:
#             print('term',zipc,lat,long,'failed query')
            return np.nan
    
    
    return np.round(data.iloc[0]['distance'],0)

In [43]:

lat = 40.673838
long = -122.363003
term = 'grocery store'
location = '96087'
search_limit = 50
radius = 5000 # in meters 
response = yelp_api.search_query(term = term,
#                                  location = location,
                                 latitude=lat,
                                 longitude=long,
                                 radius = radius,
                                 limit = search_limit)
cols = list(response['businesses'][0].keys())
data = pd.DataFrame(columns=cols)
for biz in response['businesses']:
    data = data.append(biz, ignore_index=True)
print(len(data))
data.head()

5

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,fsBvsU1-gOdlm-1PVl0JCw,farmers-sentry-shasta-lake-3,Farmers Sentry,https://s3-media1.fl.yelpcdn.com/bphoto/hokT56...,False,https://www.yelp.com/biz/farmers-sentry-shasta...,16,"[{'alias': 'grocery', 'title': 'Grocery'}]",3.0,"{'latitude': 40.68086994494587, 'longitude': -...",[],$$,"{'address1': '4525 Shasta Dam Blvd', 'address2...",+15302752936,(530) 275-2936,789.303320
1,gEOp2Nrjvwx9Ej8x9e0vRQ,sunshine-food-market-shasta-lake,Sunshine Food Market,https://s3-media2.fl.yelpcdn.com/bphoto/Rv5kWi...,False,https://www.yelp.com/biz/sunshine-food-market-...,3,"[{'alias': 'grocery', 'title': 'Grocery'}]",4.0,"{'latitude': 40.68081, 'longitude': -122.36923}",[],$$$$,"{'address1': '4265 Shasta Dam Blvd', 'address2...",+15302752343,(530) 275-2343,940.941959
2,EBRsiSFbiqEfxHiJ8blJMQ,kcs-corner-mart-redding,Kc's Corner Mart,https://s3-media3.fl.yelpcdn.com/bphoto/m7NZUM...,False,https://www.yelp.com/biz/kcs-corner-mart-reddi...,2,"[{'alias': 'grocery', 'title': 'Grocery'}]",1.0,"{'latitude': 40.70544, 'longitude': -122.33432}",[],NaN,"{'address1': '14361 Holiday Rd', 'address2': '...",+15302754375,(530) 275-4375,4229.894060
3,qytZdFfgnksU42NRMXopiw,circle-k-food-store-redding-2,Circle K Food Store,,False,https://www.yelp.com/biz/circle-k-food-store-r...,2,"[{'alias': 'grocery', 'title': 'Grocery'}]",3.0,"{'latitude': 40.6808586120605, 'longitude': -1...",[],NaN,"{'address1': '4833 Shasta Dam Blvd', 'address2...",+15302752883,(530) 275-2883,793.880856
4,VKp3sqcYn7y4HWAXiexHFQ,drive-in-market-redding,Drive-In-Market,,False,https://www.yelp.com/biz/drive-in-market-reddi...,2,"[{'alias': 'grocery', 'title': 'Grocery'}]",3.0,"{'latitude': 40.686689, 'longitude': -122.401445}",[],$$,"{'address1': '13719 Hill Blvd', 'address2': ''...",+15302755035,(530) 275-5035,3542.625037

In [49]:

lat = 40.673838
long = -122.363003
term = 'public park'
location = '96087'
search_limit = 50
radius = 5000 # in meters 
response = yelp_api.search_query(term = term,
#                                  location = location,
                                 latitude=lat,
                                 longitude=long,
                                 radius = radius,
                                 limit = search_limit)
cols = list(response['businesses'][0].keys())
data = pd.DataFrame(columns=cols)
for biz in response['businesses']:
    data = data.append(biz, ignore_index=True)
print(len(data))
data.head()

3

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance
0,LfQguUbnEZXS-XL7sMm8IQ,shasta-dam-shasta-lake,Shasta Dam,https://s3-media4.fl.yelpcdn.com/bphoto/_2p2IR...,False,https://www.yelp.com/biz/shasta-dam-shasta-lak...,50,"[{'alias': 'landmarks', 'title': 'Landmarks & ...",4.5,"{'latitude': 40.7184328015187, 'longitude': -1...",[],"{'address1': '16349 Shasta Dam Blvd', 'address...",+15302754463,(530) 275-4463,6853.624406
1,UdY8Fm7U6HgwfrH6n-e8_Q,american-legion-post-720-redding,American Legion Post 720,,False,https://www.yelp.com/biz/american-legion-post-...,2,[],3.0,"{'latitude': 40.6749420166016, 'longitude': -1...",[],"{'address1': '4309 Vallecito', 'address2': '',...",+15302758211,(530) 275-8211,470.170367
2,IPuCHUlcX8uXaMAL6j8QcA,jack-trout-fly-fishing-guide-mount-shasta,Jack Trout Fly Fishing Guide,https://s3-media3.fl.yelpcdn.com/bphoto/JN_1tf...,False,https://www.yelp.com/biz/jack-trout-fly-fishin...,19,"[{'alias': 'fishing', 'title': 'Fishing'}, {'a...",4.0,"{'latitude': 41.304801940918, 'longitude': -12...",[],"{'address1': '1004 S Mount Shasta Blvd', 'addr...",+15309264540,(530) 926-4540,70308.091251

In [42]:

lat = 40.673838
long = -122.363003
term = 'fast food'
location = '96087'
search_limit = 50
radius = 5000 # in meters 
response = yelp_api.search_query(term = term,
#                                  location = location,
                                 latitude=lat,
                                 longitude=long,
                                 radius = radius,
                                 limit = search_limit)
cols = list(response['businesses'][0].keys())
data = pd.DataFrame(columns=cols)
for biz in response['businesses']:
    data = data.append(biz, ignore_index=True)
print(len(data))
data.head()

6

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,L9EmjQRHZPSkF9ljDWMghg,burger-king-shasta-lake,Burger King,https://s3-media1.fl.yelpcdn.com/bphoto/7xRh51...,False,https://www.yelp.com/biz/burger-king-shasta-la...,24,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",2.0,"{'latitude': 40.67929270839923, 'longitude': -...",[delivery],$,"{'address1': '1725 Cascade Blvd', 'address2': ...",+15302758507,(530) 275-8507,1209.497218
1,hYAoTEnXoYkHsVV7zac8EQ,mcdonalds-shasta-lake-city,McDonald's,https://s3-media4.fl.yelpcdn.com/bphoto/J72aRM...,False,https://www.yelp.com/biz/mcdonalds-shasta-lake...,35,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",2.5,"{'latitude': 40.6802068018921, 'longitude': -1...",[delivery],$,"{'address1': '1695 Cascade Blvd', 'address2': ...",+15302752943,(530) 275-2943,1299.771909
2,onBNb5KKl1EErvnnP6u3HA,old-mill-eatery-and-smokehouse-shasta-lake,Old Mill Eatery & Smokehouse,https://s3-media3.fl.yelpcdn.com/bphoto/KHZ6tz...,False,https://www.yelp.com/biz/old-mill-eatery-and-s...,195,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",4.0,"{'latitude': 40.68083, 'longitude': -122.37246}","[delivery, pickup]",$$,"{'address1': '4132 Shasta Dam Blvd', 'address2...",+15302750515,(530) 275-0515,1115.676536
3,mXMIhz7z_btQGD4TSNN4YQ,taco-shop-shasta-lake,Taco Shop,https://s3-media3.fl.yelpcdn.com/bphoto/A4sR5L...,False,https://www.yelp.com/biz/taco-shop-shasta-lake...,49,"[{'alias': 'tacos', 'title': 'Tacos'}]",2.5,"{'latitude': 40.67997, 'longitude': -122.35271}",[delivery],$,"{'address1': '5248 Shasta Dam Blvd', 'address2...",+15302751687,(530) 275-1687,1097.689045
4,ZZRr-LLLQLCKKh1Qp58GFg,latinos-redding-3,Latinos,https://s3-media3.fl.yelpcdn.com/bphoto/cKh11X...,False,https://www.yelp.com/biz/latinos-redding-3?adj...,61,"[{'alias': 'mexican', 'title': 'Mexican'}]",2.5,"{'latitude': 40.68016, 'longitude': -122.35332}",[delivery],$,"{'address1': '5232 Shasta Dam Blvd', 'address2...",+15302750889,(530) 275-0889,1077.473604

In [23]:
term = 'grocery store'
location = '96087'
search_limit = 50
response = yelp_api.search_query(term = term,
                                 location = location,
                                 limit = search_limit)
cols = list(response['businesses'][0].keys())
data = pd.DataFrame(columns=cols)
for biz in response['businesses']:
    data = data.append(biz, ignore_index=True)
print(len(data))
data.head()

50

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,ALflIN5VVW8qThUvp0bERA,lakeshore-villa-market-lakehead,Lakeshore Villa Market,https://s3-media2.fl.yelpcdn.com/bphoto/dL77SA...,False,https://www.yelp.com/biz/lakeshore-villa-marke...,4,"[{'alias': 'grocery', 'title': 'Grocery'}]",4.5,"{'latitude': 40.88778, 'longitude': -122.3851}",[],$$,"{'address1': '20750 Lakeshore Dr', 'address2':...",+15302388615,(530) 238-8615,34128.249553
1,Au225Drt0-ENomQWANYcog,mountain-market-place-weaverville,Mountain Market Place,https://s3-media4.fl.yelpcdn.com/bphoto/iVsDTD...,False,https://www.yelp.com/biz/mountain-market-place...,9,"[{'alias': 'grocery', 'title': 'Grocery'}, {'a...",4.5,"{'latitude': 40.7335714218449, 'longitude': -1...",[],$$,"{'address1': '508 Main St', 'address2': None, ...",+15306232656,(530) 623-2656,29514.825596
2,a-vugKAGBOdGAw0v_YEjQA,tops-super-foods-weaverville,Tops Super Foods,https://s3-media4.fl.yelpcdn.com/bphoto/yo-W99...,False,https://www.yelp.com/biz/tops-super-foods-weav...,30,"[{'alias': 'grocery', 'title': 'Grocery'}]",3.0,"{'latitude': 40.72085, 'longitude': -122.92732}",[],$$$,"{'address1': '1665 Main St', 'address2': '', '...",+15306232494,(530) 623-2494,27913.036988
3,LmwxevWbmqMPm4PD3eqPVg,holiday-market-weaverville,Holiday Market,https://s3-media2.fl.yelpcdn.com/bphoto/jLZjlD...,False,https://www.yelp.com/biz/holiday-market-weaver...,7,"[{'alias': 'grocery', 'title': 'Grocery'}]",3.5,"{'latitude': 40.72103, 'longitude': -122.927216}",[],NaN,"{'address1': '1665 S Main St', 'address2': Non...",+15306232494,(530) 623-2494,27935.143674
4,pBf7hz2kVGuniOgrShOdBA,js-market-shasta,J's Market,https://s3-media1.fl.yelpcdn.com/bphoto/C9TGZ6...,False,https://www.yelp.com/biz/js-market-shasta?adju...,4,"[{'alias': 'grocery', 'title': 'Grocery'}]",5.0,"{'latitude': 40.5967445373535, 'longitude': -1...",[],$$,"{'address1': '15438 Highway 299 W', 'address2'...",+15302433080,(530) 243-3080,11620.018818

In [50]:
term = 'liquor'
location = '96087'
search_limit = 50
response = yelp_api.search_query(term = term,
                                 location = location,
                                 limit = search_limit)
cols = list(response['businesses'][0].keys())
data = pd.DataFrame(columns=cols)
for biz in response['businesses']:
    data = data.append(biz, ignore_index=True)
data.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,Ly30G_29CAUBfFcWK6ehCg,liquor-barn-redding,Liquor Barn,https://s3-media4.fl.yelpcdn.com/bphoto/pjVhfk...,False,https://www.yelp.com/biz/liquor-barn-redding?a...,42,"[{'alias': 'beer_and_wine', 'title': 'Beer, Wi...",4.0,"{'latitude': 40.5692232043026, 'longitude': -1...",[],$$,"{'address1': '2627 Bechelli Ln', 'address2': '...",+15302230452,(530) 223-0452,22701.205429
1,ALflIN5VVW8qThUvp0bERA,lakeshore-villa-market-lakehead,Lakeshore Villa Market,https://s3-media2.fl.yelpcdn.com/bphoto/dL77SA...,False,https://www.yelp.com/biz/lakeshore-villa-marke...,4,"[{'alias': 'grocery', 'title': 'Grocery'}]",4.5,"{'latitude': 40.88778, 'longitude': -122.3851}",[],$$,"{'address1': '20750 Lakeshore Dr', 'address2':...",+15302388615,(530) 238-8615,34128.249553
2,AIx0c_sSBI642Xdfz76jcQ,lakewood-market-redding,Lakewood Market,https://s3-media2.fl.yelpcdn.com/bphoto/uWh4WA...,False,https://www.yelp.com/biz/lakewood-market-reddi...,3,"[{'alias': 'beer_and_wine', 'title': 'Beer, Wi...",5.0,"{'latitude': 40.6195, 'longitude': -122.39745}",[],$,"{'address1': '901 Lake Blvd', 'address2': 'Ste...",+15302414997,(530) 241-4997,18507.755856
3,7KiwL7Tx5N9xED7Dsv74kQ,duffys-liquors-anderson,Duffy's Liquors,https://s3-media2.fl.yelpcdn.com/bphoto/mZGTSV...,False,https://www.yelp.com/biz/duffys-liquors-anders...,10,"[{'alias': 'beer_and_wine', 'title': 'Beer, Wi...",3.5,"{'latitude': 40.452844, 'longitude': -122.299132}",[],$$$,"{'address1': '2182 North St', 'address2': None...",+15303657050,(530) 365-7050,33594.167953
4,W2jVpz7gb9RQx9jmJM7s5w,liquor-king-redding,Liquor King,https://s3-media2.fl.yelpcdn.com/bphoto/rp3iMF...,False,https://www.yelp.com/biz/liquor-king-redding?a...,2,"[{'alias': 'beer_and_wine', 'title': 'Beer, Wi...",3.5,"{'latitude': 40.5616149902344, 'longitude': -1...",[],NaN,"{'address1': '3136 Bechelli Ln', 'address2': '...",+15302211069,(530) 221-1069,22873.685662

In [47]:
term = 'grocery store'
location = '94116'
search_limit = 50
response = yelp_api.search_query(term = term,
                                 location = location,
                                 limit = search_limit)
cols = list(response['businesses'][0].keys())
data = pd.DataFrame(columns=cols)
for biz in response['businesses']:
    data = data.append(biz, ignore_index=True)
data.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,bbDXbRE6O8BUbK3nyXdGCg,guss-community-market-san-francisco-6,Gus's Community Market,https://s3-media3.fl.yelpcdn.com/bphoto/AzXDW1...,False,https://www.yelp.com/biz/guss-community-market...,311,"[{'alias': 'markets', 'title': 'Fruits & Veggi...",4.5,"{'latitude': 37.75281, 'longitude': -122.50357}","[pickup, delivery]",$$,"{'address1': '3701 Noriega St', 'address2': 'U...",+14155640370,(415) 564-0370,1728.843896
1,KBsTJh5FVV_JQEVYvTDCWg,safeway-san-francisco-11,Safeway,https://s3-media2.fl.yelpcdn.com/bphoto/P3fTlr...,False,https://www.yelp.com/biz/safeway-san-francisco...,259,"[{'alias': 'grocery', 'title': 'Grocery'}]",2.5,"{'latitude': 37.754172, 'longitude': -122.4888...",[],$$,"{'address1': '2350 Noriega St', 'address2': ''...",+14156654565,(415) 665-4565,688.666558
2,t2BIu94PpNJqzxKw18c4VQ,lucky-san-francisco-3,Lucky,https://s3-media1.fl.yelpcdn.com/bphoto/zaSSYz...,False,https://www.yelp.com/biz/lucky-san-francisco-3...,224,"[{'alias': 'grocery', 'title': 'Grocery'}, {'a...",3.0,"{'latitude': 37.73304, 'longitude': -122.48955}","[pickup, delivery]",$$,"{'address1': '1515 Sloat Blvd', 'address2': ''...",+14156814300,(415) 681-4300,1815.466998
3,9-Irfu8q-Mm3aEDXY18GbA,sunset-supermarket-san-francisco,Sunset Supermarket,https://s3-media4.fl.yelpcdn.com/bphoto/_qJ44z...,False,https://www.yelp.com/biz/sunset-supermarket-sa...,141,"[{'alias': 'intlgrocery', 'title': 'Internatio...",3.0,"{'latitude': 37.7381096, 'longitude': -122.497...",[],$,"{'address1': '2801 Vicente St', 'address2': ''...",+14155048188,(415) 504-8188,1658.603388
4,C9YDe3DdURTN01ZaTefWWw,safeway-san-francisco-21,Safeway,https://s3-media4.fl.yelpcdn.com/bphoto/srKv5b...,False,https://www.yelp.com/biz/safeway-san-francisco...,260,"[{'alias': 'grocery', 'title': 'Grocery'}]",2.0,"{'latitude': 37.743262, 'longitude': -122.4739...",[],$$,"{'address1': '730 Taraval St', 'address2': '',...",+14156654136,(415) 665-4136,1107.331782